*,
*:after,
*:before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  overflow: hidden;
}

.header {
  position: fixed;
  display: flex;
  padding: 10px;
  z-index: 1;

  .logo {
    height: 50px;
    position: relative;
    left: 0;
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.hidden {
      left: -60px;
    }
  }
}

.map {
  margin-left: auto;
  margin-right: auto;
  padding: 8vh 5vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  .salen {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pin {
    top: -300px;
    position: absolute;
    width: 40px;
    height: 60px;
    margin-left: -16px;
    margin-top: -60px;
    transition: top 200ms cubic-bezier(0.77, 0, 0.175, 1), opacity 300ms linear;

    &.hidden {
      opacity: 0;
    }

    img {
      width: 100%;
    }
  }

  .loupe {
    background-image: url('../images/salen.png');
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 500px 900px;
    border: 2px solid #23CAFC;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -130px;
    position: absolute;
    border-radius: 50%;
    transition: 25ms linear;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);

    &.hidden {
      opacity: 0;
    }

    .dot {
      background-color: red;
      height: 4px;
      width: 4px;
      position: absolute;
      border-radius: 5px;
      top: 50%;
      left: 50%;
    }
  }
}

.links {
  &.hidden .link {
    bottom: -20vh !important;
  }

  .link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    z-index: 1;
    transition: bottom 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    padding: 1rem;
    text-decoration: none;

    img {
      height: 60%;
      vertical-align: middle;
    }

    span {
      color: #FFF;
      // text-transform: uppercase;
      font-size: 120%;
      margin-right: 1rem;
    }

    &.telegram {
      // box-shadow: 0 8px 10px rgba(35, 167, 220, .3);
      background-color: #0088CC;
      bottom: 0;

      img {
        height: 50%;
      }
    }

    &.whatsapp {
      // box-shadow: 0 -8px 10px rgba(32, 176, 56, .3);
      background-color: #25D366;
      bottom: 15vh;
    }

    &.message {
      box-shadow: 0 8px 10px rgba(190, 94, 0, .3);
      bottom: 31%;
    }

    &.messenger {
      box-shadow: 0 8px 10px rgba(19, 113, 251, .3);
      bottom: 35%;
    }

    &.hidden .link {
      bottom: 0;
    }
  }
}

